<!DOCTYPE html>
<html lang="en">
<head>
 <title>Charlotte Connects</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type='text/css' href="../assets/stylesheets/bootstrap.css">
<link rel="stylesheet" type='text/css' href="../assets/stylesheets/style.css">
 <script src="../assets/js/jquery.js"></script>
 <script src="../assets/js/bootstrap.js"></script>
</head>
<body>
  <div class="full">

    <% include ./partials/header %>


    <div class="backgrnd">
      <div class="maincontent1">
         <div class="container-fluid bg-1 pads maincontext">
           <h2 class="welcomeheading">OOPS! ERROR 404</h2>
            <p class="introdetails1">The Website you are requesting is not available due eror 404.
            </p>
              <br><br>
          </div>
      </div>
    </div>

      <% include ./partials/footer %>

  </div>
</body>
</html>
